$message-size: 80%;

.messageFeed {
  display: grid;
  grid-template-columns: 20% 80%;
}

.date_label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sticky_container {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 580px) {
  .your_message {
    grid-column-start: 2;
    grid-column-end: span 2;
  }

  .their_message {
    grid-column-start: 1;
    grid-column-end: span 2;
    max-width: $message-size;
  }
}

.edited_message {
  box-shadow: 0 0 5px 3px rgba(98, 141, 186, 1) !important;
}
