.errorMessage {
  color: indianred;
}

.full_width {
  width: 100%;
}

.input_form {
  position: fixed !important;
  bottom: 0;
  width: 60%;
}

.textarea {
  resize: none !important;
}

@media screen and (max-width: 900px){
  .input_form {
    width: 100%;
  }
}
