.logo {
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.chat {
    //margin-top: 10vw;
    //margin-bottom: 13vw;
    display: flex;
    flex-direction: column;
    //resize: both;
    overflow: auto;
    height: 100%;
}

.chat_area {
    flex-grow: 1;
    //background: #EEEEEE;
    overflow-y: scroll;
}

.input_area {
    flex-shrink: 0;
    margin-top: 0 !important;
}

@media screen and (min-width: 1000px) {
    .chat {
        margin-left: 20%;
        margin-right: 20%;
    }
}
